.dog--0 {
  height: 28px;
  filter: invert(0.5) sepia(0.75) hue-rotate(192deg) saturate(54) brightness(79%); }

.dog--1 {
  height: 6px;
  filter: invert(0.5) sepia(0.75) hue-rotate(190deg) saturate(23) brightness(32%); }

.dog--2 {
  height: 87px;
  filter: invert(0.5) sepia(0.75) hue-rotate(143deg) saturate(72) brightness(21%); }

.dog--3 {
  height: 104px;
  filter: invert(0.5) sepia(0.75) hue-rotate(77deg) saturate(11) brightness(52%); }

.dog--4 {
  height: 52px;
  filter: invert(0.5) sepia(0.75) hue-rotate(336deg) saturate(15) brightness(62%); }

.dog--5 {
  height: 66px;
  filter: invert(0.5) sepia(0.75) hue-rotate(118deg) saturate(74) brightness(30%); }

.dog--6 {
  height: 113px;
  filter: invert(0.5) sepia(0.75) hue-rotate(81deg) saturate(65) brightness(25%); }

.dog--7 {
  height: 116px;
  filter: invert(0.5) sepia(0.75) hue-rotate(111deg) saturate(3) brightness(95%); }

.dog--8 {
  height: 89px;
  filter: invert(0.5) sepia(0.75) hue-rotate(254deg) saturate(52) brightness(1%); }

.dog--9 {
  height: 91px;
  filter: invert(0.5) sepia(0.75) hue-rotate(155deg) saturate(84) brightness(35%); }

.dog--10 {
  height: 105px;
  filter: invert(0.5) sepia(0.75) hue-rotate(27deg) saturate(32) brightness(22%); }

.dog--11 {
  height: 15px;
  filter: invert(0.5) sepia(0.75) hue-rotate(11deg) saturate(59) brightness(31%); }

.dog--12 {
  height: 109px;
  filter: invert(0.5) sepia(0.75) hue-rotate(269deg) saturate(23) brightness(8%); }

.dog--13 {
  height: 104px;
  filter: invert(0.5) sepia(0.75) hue-rotate(320deg) saturate(26) brightness(26%); }

.dog--14 {
  height: 58px;
  filter: invert(0.5) sepia(0.75) hue-rotate(325deg) saturate(51) brightness(59%); }

.dog--15 {
  height: 79px;
  filter: invert(0.5) sepia(0.75) hue-rotate(224deg) saturate(38) brightness(48%); }

.dog--16 {
  height: 17px;
  filter: invert(0.5) sepia(0.75) hue-rotate(4deg) saturate(28) brightness(52%); }

.dog--17 {
  height: 38px;
  filter: invert(0.5) sepia(0.75) hue-rotate(68deg) saturate(76) brightness(56%); }

.dog--18 {
  height: 78px;
  filter: invert(0.5) sepia(0.75) hue-rotate(312deg) saturate(47) brightness(11%); }

.dog--19 {
  height: 67px;
  filter: invert(0.5) sepia(0.75) hue-rotate(116deg) saturate(90) brightness(98%); }

.dog--20 {
  height: 110px;
  filter: invert(0.5) sepia(0.75) hue-rotate(156deg) saturate(2) brightness(96%); }

.dog--21 {
  height: 69px;
  filter: invert(0.5) sepia(0.75) hue-rotate(19deg) saturate(95) brightness(37%); }

.dog--22 {
  height: 9px;
  filter: invert(0.5) sepia(0.75) hue-rotate(34deg) saturate(53) brightness(20%); }

.dog--23 {
  height: 108px;
  filter: invert(0.5) sepia(0.75) hue-rotate(68deg) saturate(18) brightness(17%); }

.dog--24 {
  height: 101px;
  filter: invert(0.5) sepia(0.75) hue-rotate(94deg) saturate(96) brightness(70%); }

.dog--25 {
  height: 7px;
  filter: invert(0.5) sepia(0.75) hue-rotate(321deg) saturate(67) brightness(55%); }

.dog--26 {
  height: 26px;
  filter: invert(0.5) sepia(0.75) hue-rotate(84deg) saturate(12) brightness(89%); }

.dog--27 {
  height: 108px;
  filter: invert(0.5) sepia(0.75) hue-rotate(94deg) saturate(88) brightness(40%); }

.dog--28 {
  height: 79px;
  filter: invert(0.5) sepia(0.75) hue-rotate(64deg) saturate(76) brightness(46%); }

.dog--29 {
  height: 94px;
  filter: invert(0.5) sepia(0.75) hue-rotate(291deg) saturate(83) brightness(0%); }

.dog--30 {
  height: 4px;
  filter: invert(0.5) sepia(0.75) hue-rotate(72deg) saturate(28) brightness(54%); }

.dog--31 {
  height: 17px;
  filter: invert(0.5) sepia(0.75) hue-rotate(26deg) saturate(92) brightness(60%); }

.dog--32 {
  height: 115px;
  filter: invert(0.5) sepia(0.75) hue-rotate(99deg) saturate(88) brightness(26%); }

.dog--33 {
  height: 83px;
  filter: invert(0.5) sepia(0.75) hue-rotate(3deg) saturate(88) brightness(55%); }

.dog--34 {
  height: 67px;
  filter: invert(0.5) sepia(0.75) hue-rotate(25deg) saturate(56) brightness(15%); }

.dog--35 {
  height: 21px;
  filter: invert(0.5) sepia(0.75) hue-rotate(33deg) saturate(64) brightness(68%); }

.dog--36 {
  height: 34px;
  filter: invert(0.5) sepia(0.75) hue-rotate(147deg) saturate(53) brightness(34%); }

.dog--37 {
  height: 76px;
  filter: invert(0.5) sepia(0.75) hue-rotate(87deg) saturate(58) brightness(8%); }

.dog--38 {
  height: 113px;
  filter: invert(0.5) sepia(0.75) hue-rotate(200deg) saturate(91) brightness(79%); }

.dog--39 {
  height: 107px;
  filter: invert(0.5) sepia(0.75) hue-rotate(35deg) saturate(84) brightness(36%); }

.dog--40 {
  height: 62px;
  filter: invert(0.5) sepia(0.75) hue-rotate(247deg) saturate(22) brightness(58%); }

.dog--41 {
  height: 70px;
  filter: invert(0.5) sepia(0.75) hue-rotate(6deg) saturate(42) brightness(96%); }

.dog--42 {
  height: 31px;
  filter: invert(0.5) sepia(0.75) hue-rotate(262deg) saturate(58) brightness(59%); }

.dog--43 {
  height: 112px;
  filter: invert(0.5) sepia(0.75) hue-rotate(356deg) saturate(23) brightness(42%); }

.dog--44 {
  height: 81px;
  filter: invert(0.5) sepia(0.75) hue-rotate(231deg) saturate(45) brightness(64%); }

.dog--45 {
  height: 74px;
  filter: invert(0.5) sepia(0.75) hue-rotate(173deg) saturate(60) brightness(19%); }

.dog--46 {
  height: 9px;
  filter: invert(0.5) sepia(0.75) hue-rotate(359deg) saturate(71) brightness(33%); }

.dog--47 {
  height: 37px;
  filter: invert(0.5) sepia(0.75) hue-rotate(9deg) saturate(42) brightness(31%); }

.dog--48 {
  height: 79px;
  filter: invert(0.5) sepia(0.75) hue-rotate(144deg) saturate(8) brightness(37%); }

.dog--49 {
  height: 44px;
  filter: invert(0.5) sepia(0.75) hue-rotate(142deg) saturate(99) brightness(31%); }

.dog--50 {
  height: 90px;
  filter: invert(0.5) sepia(0.75) hue-rotate(208deg) saturate(57) brightness(26%); }

.dog--51 {
  height: 89px;
  filter: invert(0.5) sepia(0.75) hue-rotate(328deg) saturate(86) brightness(96%); }

.dog--52 {
  height: 56px;
  filter: invert(0.5) sepia(0.75) hue-rotate(143deg) saturate(56) brightness(44%); }

.dog--53 {
  height: 116px;
  filter: invert(0.5) sepia(0.75) hue-rotate(206deg) saturate(74) brightness(45%); }

.dog--54 {
  height: 96px;
  filter: invert(0.5) sepia(0.75) hue-rotate(249deg) saturate(35) brightness(49%); }

.dog--55 {
  height: 20px;
  filter: invert(0.5) sepia(0.75) hue-rotate(26deg) saturate(96) brightness(75%); }

.dog--56 {
  height: 91px;
  filter: invert(0.5) sepia(0.75) hue-rotate(57deg) saturate(9) brightness(30%); }

.dog--57 {
  height: 94px;
  filter: invert(0.5) sepia(0.75) hue-rotate(184deg) saturate(37) brightness(95%); }

.dog--58 {
  height: 74px;
  filter: invert(0.5) sepia(0.75) hue-rotate(2deg) saturate(63) brightness(45%); }

.dog--59 {
  height: 101px;
  filter: invert(0.5) sepia(0.75) hue-rotate(295deg) saturate(20) brightness(84%); }

.dog--60 {
  height: 11px;
  filter: invert(0.5) sepia(0.75) hue-rotate(339deg) saturate(66) brightness(37%); }

.dog--61 {
  height: 108px;
  filter: invert(0.5) sepia(0.75) hue-rotate(32deg) saturate(31) brightness(46%); }

.dog--62 {
  height: 113px;
  filter: invert(0.5) sepia(0.75) hue-rotate(240deg) saturate(0) brightness(23%); }

.dog--63 {
  height: 63px;
  filter: invert(0.5) sepia(0.75) hue-rotate(242deg) saturate(90) brightness(29%); }

.dog--64 {
  height: 5px;
  filter: invert(0.5) sepia(0.75) hue-rotate(260deg) saturate(82) brightness(89%); }

.dog--65 {
  height: 49px;
  filter: invert(0.5) sepia(0.75) hue-rotate(194deg) saturate(76) brightness(5%); }

.dog--66 {
  height: 103px;
  filter: invert(0.5) sepia(0.75) hue-rotate(6deg) saturate(45) brightness(99%); }

.dog--67 {
  height: 119px;
  filter: invert(0.5) sepia(0.75) hue-rotate(73deg) saturate(51) brightness(63%); }

.dog--68 {
  height: 15px;
  filter: invert(0.5) sepia(0.75) hue-rotate(323deg) saturate(78) brightness(73%); }

.dog--69 {
  height: 19px;
  filter: invert(0.5) sepia(0.75) hue-rotate(210deg) saturate(92) brightness(48%); }

.dog--70 {
  height: 18px;
  filter: invert(0.5) sepia(0.75) hue-rotate(175deg) saturate(73) brightness(71%); }

.dog--71 {
  height: 39px;
  filter: invert(0.5) sepia(0.75) hue-rotate(102deg) saturate(73) brightness(48%); }

.dog--72 {
  height: 59px;
  filter: invert(0.5) sepia(0.75) hue-rotate(335deg) saturate(60) brightness(23%); }

.dog--73 {
  height: 39px;
  filter: invert(0.5) sepia(0.75) hue-rotate(104deg) saturate(89) brightness(8%); }

.dog--74 {
  height: 105px;
  filter: invert(0.5) sepia(0.75) hue-rotate(153deg) saturate(26) brightness(64%); }

.dog--75 {
  height: 51px;
  filter: invert(0.5) sepia(0.75) hue-rotate(56deg) saturate(71) brightness(36%); }

.dog--76 {
  height: 42px;
  filter: invert(0.5) sepia(0.75) hue-rotate(130deg) saturate(40) brightness(78%); }

.dog--77 {
  height: 11px;
  filter: invert(0.5) sepia(0.75) hue-rotate(135deg) saturate(59) brightness(51%); }

.dog--78 {
  height: 118px;
  filter: invert(0.5) sepia(0.75) hue-rotate(60deg) saturate(92) brightness(39%); }

.dog--79 {
  height: 12px;
  filter: invert(0.5) sepia(0.75) hue-rotate(34deg) saturate(14) brightness(18%); }

.dog--80 {
  height: 33px;
  filter: invert(0.5) sepia(0.75) hue-rotate(183deg) saturate(72) brightness(4%); }

.dog--81 {
  height: 18px;
  filter: invert(0.5) sepia(0.75) hue-rotate(28deg) saturate(44) brightness(46%); }

.dog--82 {
  height: 103px;
  filter: invert(0.5) sepia(0.75) hue-rotate(162deg) saturate(80) brightness(77%); }

.dog--83 {
  height: 104px;
  filter: invert(0.5) sepia(0.75) hue-rotate(200deg) saturate(62) brightness(42%); }

.dog--84 {
  height: 30px;
  filter: invert(0.5) sepia(0.75) hue-rotate(185deg) saturate(77) brightness(45%); }

.dog--85 {
  height: 108px;
  filter: invert(0.5) sepia(0.75) hue-rotate(127deg) saturate(46) brightness(16%); }

.dog--86 {
  height: 36px;
  filter: invert(0.5) sepia(0.75) hue-rotate(282deg) saturate(42) brightness(52%); }

.dog--87 {
  height: 119px;
  filter: invert(0.5) sepia(0.75) hue-rotate(279deg) saturate(37) brightness(65%); }

.dog--88 {
  height: 110px;
  filter: invert(0.5) sepia(0.75) hue-rotate(267deg) saturate(46) brightness(17%); }

.dog--89 {
  height: 93px;
  filter: invert(0.5) sepia(0.75) hue-rotate(183deg) saturate(26) brightness(29%); }

.dog--90 {
  height: 109px;
  filter: invert(0.5) sepia(0.75) hue-rotate(6deg) saturate(87) brightness(36%); }

.dog--91 {
  height: 17px;
  filter: invert(0.5) sepia(0.75) hue-rotate(258deg) saturate(70) brightness(17%); }

.dog--92 {
  height: 8px;
  filter: invert(0.5) sepia(0.75) hue-rotate(278deg) saturate(25) brightness(24%); }

.dog--93 {
  height: 22px;
  filter: invert(0.5) sepia(0.75) hue-rotate(79deg) saturate(95) brightness(58%); }

.dog--94 {
  height: 40px;
  filter: invert(0.5) sepia(0.75) hue-rotate(133deg) saturate(78) brightness(76%); }

.dog--95 {
  height: 107px;
  filter: invert(0.5) sepia(0.75) hue-rotate(136deg) saturate(3) brightness(29%); }

.dog--96 {
  height: 66px;
  filter: invert(0.5) sepia(0.75) hue-rotate(150deg) saturate(56) brightness(51%); }

.dog--97 {
  height: 98px;
  filter: invert(0.5) sepia(0.75) hue-rotate(331deg) saturate(53) brightness(51%); }

.dog--98 {
  height: 22px;
  filter: invert(0.5) sepia(0.75) hue-rotate(131deg) saturate(57) brightness(65%); }

.dog--99 {
  height: 101px;
  filter: invert(0.5) sepia(0.75) hue-rotate(279deg) saturate(69) brightness(68%); }

/*# sourceMappingURL=style.css.map */