@font-face {
  font-family: "PuppyBellies";
  src: url("../fonts/PuppyBellies.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

div::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em; }

div::-webkit-scrollbar-thumb {
  background: indianred; }

div::-webkit-scrollbar-track {
  background: whitesmoke; }

div {
  scrollbar-face-color: indianred;
  scrollbar-track-color: whitesmoke; }

body {
  margin: 0;
  font-family: 'PuppyBellies'; }

.container {
  position: relative; }
  .container > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.center-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.main {
  height: 100vh;
  overflow: hidden; }
  .main .background-main {
    background-image: url("/images/background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.66; }

.header-row {
  margin: 15px 0; }
  .header-row .header {
    height: 50px;
    width: 300px; }
    .header-row .header > div {
      border-radius: 15px; }
    .header-row .header .background-header {
      background-color: white;
      opacity: 0.9; }
    .header-row .header h1 {
      color: indianred; }

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr; }

.game {
  height: 70vh;
  width: 100%; }
  .game > div {
    border-radius: 15px; }
  .game .background-game {
    background-color: white;
    opacity: 0.9; }

.game-wrapper {
  position: relative;
  height: 68vh;
  width: 98%;
  margin: 1vh 1%;
  overflow: auto; }
  .game-wrapper .game-content {
    height: 1000px;
    width: 1500px; }
    .game-wrapper .game-content .dog {
      position: absolute; }

.color-0 {
  filter: invert(0.5) sepia(0.75) hue-rotate(192deg) saturate(54) brightness(79%); }

.color-1 {
  filter: invert(0.5) sepia(0.75) hue-rotate(190deg) saturate(23) brightness(32%); }

.color-2 {
  filter: invert(0.5) sepia(0.75) hue-rotate(143deg) saturate(72) brightness(21%); }

.color-3 {
  filter: invert(0.5) sepia(0.75) hue-rotate(77deg) saturate(11) brightness(52%); }

.color-4 {
  filter: invert(0.5) sepia(0.75) hue-rotate(336deg) saturate(15) brightness(62%); }

.color-5 {
  filter: invert(0.5) sepia(0.75) hue-rotate(118deg) saturate(74) brightness(30%); }

.color-6 {
  filter: invert(0.5) sepia(0.75) hue-rotate(81deg) saturate(65) brightness(25%); }

.color-7 {
  filter: invert(0.5) sepia(0.75) hue-rotate(111deg) saturate(3) brightness(95%); }

.color-8 {
  filter: invert(0.5) sepia(0.75) hue-rotate(254deg) saturate(52) brightness(1%); }

.color-9 {
  filter: invert(0.5) sepia(0.75) hue-rotate(155deg) saturate(84) brightness(35%); }

.color-10 {
  filter: invert(0.5) sepia(0.75) hue-rotate(27deg) saturate(32) brightness(22%); }

.color-11 {
  filter: invert(0.5) sepia(0.75) hue-rotate(11deg) saturate(59) brightness(31%); }

.color-12 {
  filter: invert(0.5) sepia(0.75) hue-rotate(269deg) saturate(23) brightness(8%); }

.color-13 {
  filter: invert(0.5) sepia(0.75) hue-rotate(320deg) saturate(26) brightness(26%); }

.color-14 {
  filter: invert(0.5) sepia(0.75) hue-rotate(325deg) saturate(51) brightness(59%); }

.color-15 {
  filter: invert(0.5) sepia(0.75) hue-rotate(224deg) saturate(38) brightness(48%); }

.color-16 {
  filter: invert(0.5) sepia(0.75) hue-rotate(4deg) saturate(28) brightness(52%); }

.color-17 {
  filter: invert(0.5) sepia(0.75) hue-rotate(68deg) saturate(76) brightness(56%); }

.color-18 {
  filter: invert(0.5) sepia(0.75) hue-rotate(312deg) saturate(47) brightness(11%); }

.color-19 {
  filter: invert(0.5) sepia(0.75) hue-rotate(116deg) saturate(90) brightness(98%); }

.color-20 {
  filter: invert(0.5) sepia(0.75) hue-rotate(156deg) saturate(2) brightness(96%); }

.color-21 {
  filter: invert(0.5) sepia(0.75) hue-rotate(19deg) saturate(95) brightness(37%); }

.color-22 {
  filter: invert(0.5) sepia(0.75) hue-rotate(34deg) saturate(53) brightness(20%); }

.color-23 {
  filter: invert(0.5) sepia(0.75) hue-rotate(68deg) saturate(18) brightness(17%); }

.color-24 {
  filter: invert(0.5) sepia(0.75) hue-rotate(94deg) saturate(96) brightness(70%); }

.color-25 {
  filter: invert(0.5) sepia(0.75) hue-rotate(321deg) saturate(67) brightness(55%); }

.color-26 {
  filter: invert(0.5) sepia(0.75) hue-rotate(84deg) saturate(12) brightness(89%); }

.color-27 {
  filter: invert(0.5) sepia(0.75) hue-rotate(94deg) saturate(88) brightness(40%); }

.color-28 {
  filter: invert(0.5) sepia(0.75) hue-rotate(64deg) saturate(76) brightness(46%); }

.color-29 {
  filter: invert(0.5) sepia(0.75) hue-rotate(291deg) saturate(83) brightness(0%); }

.color-30 {
  filter: invert(0.5) sepia(0.75) hue-rotate(72deg) saturate(28) brightness(54%); }

.color-31 {
  filter: invert(0.5) sepia(0.75) hue-rotate(26deg) saturate(92) brightness(60%); }

.color-32 {
  filter: invert(0.5) sepia(0.75) hue-rotate(99deg) saturate(88) brightness(26%); }

.color-33 {
  filter: invert(0.5) sepia(0.75) hue-rotate(3deg) saturate(88) brightness(55%); }

.color-34 {
  filter: invert(0.5) sepia(0.75) hue-rotate(25deg) saturate(56) brightness(15%); }

.color-35 {
  filter: invert(0.5) sepia(0.75) hue-rotate(33deg) saturate(64) brightness(68%); }

.color-36 {
  filter: invert(0.5) sepia(0.75) hue-rotate(147deg) saturate(53) brightness(34%); }

.color-37 {
  filter: invert(0.5) sepia(0.75) hue-rotate(87deg) saturate(58) brightness(8%); }

.color-38 {
  filter: invert(0.5) sepia(0.75) hue-rotate(200deg) saturate(91) brightness(79%); }

.color-39 {
  filter: invert(0.5) sepia(0.75) hue-rotate(35deg) saturate(84) brightness(36%); }

.color-40 {
  filter: invert(0.5) sepia(0.75) hue-rotate(247deg) saturate(22) brightness(58%); }

.color-41 {
  filter: invert(0.5) sepia(0.75) hue-rotate(6deg) saturate(42) brightness(96%); }

.color-42 {
  filter: invert(0.5) sepia(0.75) hue-rotate(262deg) saturate(58) brightness(59%); }

.color-43 {
  filter: invert(0.5) sepia(0.75) hue-rotate(356deg) saturate(23) brightness(42%); }

.color-44 {
  filter: invert(0.5) sepia(0.75) hue-rotate(231deg) saturate(45) brightness(64%); }

.color-45 {
  filter: invert(0.5) sepia(0.75) hue-rotate(173deg) saturate(60) brightness(19%); }

.color-46 {
  filter: invert(0.5) sepia(0.75) hue-rotate(359deg) saturate(71) brightness(33%); }

.color-47 {
  filter: invert(0.5) sepia(0.75) hue-rotate(9deg) saturate(42) brightness(31%); }

.color-48 {
  filter: invert(0.5) sepia(0.75) hue-rotate(144deg) saturate(8) brightness(37%); }

.color-49 {
  filter: invert(0.5) sepia(0.75) hue-rotate(142deg) saturate(99) brightness(31%); }

.color-50 {
  filter: invert(0.5) sepia(0.75) hue-rotate(208deg) saturate(57) brightness(26%); }

.color-51 {
  filter: invert(0.5) sepia(0.75) hue-rotate(328deg) saturate(86) brightness(96%); }

.color-52 {
  filter: invert(0.5) sepia(0.75) hue-rotate(143deg) saturate(56) brightness(44%); }

.color-53 {
  filter: invert(0.5) sepia(0.75) hue-rotate(206deg) saturate(74) brightness(45%); }

.color-54 {
  filter: invert(0.5) sepia(0.75) hue-rotate(249deg) saturate(35) brightness(49%); }

.color-55 {
  filter: invert(0.5) sepia(0.75) hue-rotate(26deg) saturate(96) brightness(75%); }

.color-56 {
  filter: invert(0.5) sepia(0.75) hue-rotate(57deg) saturate(9) brightness(30%); }

.color-57 {
  filter: invert(0.5) sepia(0.75) hue-rotate(184deg) saturate(37) brightness(95%); }

.color-58 {
  filter: invert(0.5) sepia(0.75) hue-rotate(2deg) saturate(63) brightness(45%); }

.color-59 {
  filter: invert(0.5) sepia(0.75) hue-rotate(295deg) saturate(20) brightness(84%); }

.color-60 {
  filter: invert(0.5) sepia(0.75) hue-rotate(339deg) saturate(66) brightness(37%); }

.color-61 {
  filter: invert(0.5) sepia(0.75) hue-rotate(32deg) saturate(31) brightness(46%); }

.color-62 {
  filter: invert(0.5) sepia(0.75) hue-rotate(240deg) saturate(0) brightness(23%); }

.color-63 {
  filter: invert(0.5) sepia(0.75) hue-rotate(242deg) saturate(90) brightness(29%); }

.color-64 {
  filter: invert(0.5) sepia(0.75) hue-rotate(260deg) saturate(82) brightness(89%); }

.color-65 {
  filter: invert(0.5) sepia(0.75) hue-rotate(194deg) saturate(76) brightness(5%); }

.color-66 {
  filter: invert(0.5) sepia(0.75) hue-rotate(6deg) saturate(45) brightness(99%); }

.color-67 {
  filter: invert(0.5) sepia(0.75) hue-rotate(73deg) saturate(51) brightness(63%); }

.color-68 {
  filter: invert(0.5) sepia(0.75) hue-rotate(323deg) saturate(78) brightness(73%); }

.color-69 {
  filter: invert(0.5) sepia(0.75) hue-rotate(210deg) saturate(92) brightness(48%); }

.color-70 {
  filter: invert(0.5) sepia(0.75) hue-rotate(175deg) saturate(73) brightness(71%); }

.color-71 {
  filter: invert(0.5) sepia(0.75) hue-rotate(102deg) saturate(73) brightness(48%); }

.color-72 {
  filter: invert(0.5) sepia(0.75) hue-rotate(335deg) saturate(60) brightness(23%); }

.color-73 {
  filter: invert(0.5) sepia(0.75) hue-rotate(104deg) saturate(89) brightness(8%); }

.color-74 {
  filter: invert(0.5) sepia(0.75) hue-rotate(153deg) saturate(26) brightness(64%); }

.color-75 {
  filter: invert(0.5) sepia(0.75) hue-rotate(56deg) saturate(71) brightness(36%); }

.color-76 {
  filter: invert(0.5) sepia(0.75) hue-rotate(130deg) saturate(40) brightness(78%); }

.color-77 {
  filter: invert(0.5) sepia(0.75) hue-rotate(135deg) saturate(59) brightness(51%); }

.color-78 {
  filter: invert(0.5) sepia(0.75) hue-rotate(60deg) saturate(92) brightness(39%); }

.color-79 {
  filter: invert(0.5) sepia(0.75) hue-rotate(34deg) saturate(14) brightness(18%); }

.color-80 {
  filter: invert(0.5) sepia(0.75) hue-rotate(183deg) saturate(72) brightness(4%); }

.color-81 {
  filter: invert(0.5) sepia(0.75) hue-rotate(28deg) saturate(44) brightness(46%); }

.color-82 {
  filter: invert(0.5) sepia(0.75) hue-rotate(162deg) saturate(80) brightness(77%); }

.color-83 {
  filter: invert(0.5) sepia(0.75) hue-rotate(200deg) saturate(62) brightness(42%); }

.color-84 {
  filter: invert(0.5) sepia(0.75) hue-rotate(185deg) saturate(77) brightness(45%); }

.color-85 {
  filter: invert(0.5) sepia(0.75) hue-rotate(127deg) saturate(46) brightness(16%); }

.color-86 {
  filter: invert(0.5) sepia(0.75) hue-rotate(282deg) saturate(42) brightness(52%); }

.color-87 {
  filter: invert(0.5) sepia(0.75) hue-rotate(279deg) saturate(37) brightness(65%); }

.color-88 {
  filter: invert(0.5) sepia(0.75) hue-rotate(267deg) saturate(46) brightness(17%); }

.color-89 {
  filter: invert(0.5) sepia(0.75) hue-rotate(183deg) saturate(26) brightness(29%); }

.color-90 {
  filter: invert(0.5) sepia(0.75) hue-rotate(6deg) saturate(87) brightness(36%); }

.color-91 {
  filter: invert(0.5) sepia(0.75) hue-rotate(258deg) saturate(70) brightness(17%); }

.color-92 {
  filter: invert(0.5) sepia(0.75) hue-rotate(278deg) saturate(25) brightness(24%); }

.color-93 {
  filter: invert(0.5) sepia(0.75) hue-rotate(79deg) saturate(95) brightness(58%); }

.color-94 {
  filter: invert(0.5) sepia(0.75) hue-rotate(133deg) saturate(78) brightness(76%); }

.color-95 {
  filter: invert(0.5) sepia(0.75) hue-rotate(136deg) saturate(3) brightness(29%); }

.color-96 {
  filter: invert(0.5) sepia(0.75) hue-rotate(150deg) saturate(56) brightness(51%); }

.color-97 {
  filter: invert(0.5) sepia(0.75) hue-rotate(331deg) saturate(53) brightness(51%); }

.color-98 {
  filter: invert(0.5) sepia(0.75) hue-rotate(131deg) saturate(57) brightness(65%); }

.color-99 {
  filter: invert(0.5) sepia(0.75) hue-rotate(279deg) saturate(69) brightness(68%); }

/*# sourceMappingURL=style.css.map */